# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Additional ignored files
.idea/
.venv/
.git/
__pycache__/
1_productivity_api.egg-info/
build/
.recipes/
